{% extends "Base.html" %}
{% block body %}
      <div class="jumbotron">
        <form action="/domail" method="post">
          <fieldset>
          <legend>Legend</legend>
          <label>Label name</label>
          <label class="select">
            <select name="cat1" id="cat1" class="span3">
              <option value="1">类目1</option>
              <option value="2">类目2</option>
            </select>
          </label>
          <label class="select">
              <select name="cat2" id="cat2" class="span3">
                  <option value="21">二级类目1</option>
                  <option value="22">二级类目2</option>
              </select>
              </label>
          <textarea name="content" rows="3"></textarea>
          <button type="submit" class="btn">发送</button>
          </fieldset>
        </form>
      </div>
       <div class="text"></div>
{% endblock %}
